body{
    height: 100vh;
    margin: 0;
    background-color: rgb(207, 163, 106);
}

container_scores {
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 0;
}

container_board {
    display: flex;
    align-items: center;
    justify-content: center;
   
}

#grid {
    display: grid;
    grid-template-columns: repeat(30, 50px);
    grid-template-rows: repeat(16, 50px);
}
.cell {
    width: 50px;
    height: 50px;
    border: 0px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}


#game-board {
    border-radius: 100px;
    display: grid;
    grid-template-columns: repeat(20, 20px);
    grid-template-rows: repeat(20, 20px);
    margin: 0;
}

.game-border-1 {
    border: #A17145 solid 50px;
    border-radius: 0px;
    height: 800px;
    width: 1500px;

    
}   

.grid {
    background-image: url('./SW-BoardA.png');
}

.food {
    background-color: green;
}

.head {
    background-image: url('SW-Head.png');
}

.body {
    background-image: url('SW-Body.png');
}

.turn {
    background-image: url('SW-Turn.png');
}

.tail {
    background-image: url('SW-Tail.png');
}


.rotate-up,
.rotate-down,
.rotate-left,
.rotate-right {
    /* Remove these styles as they are now handled in JavaScript */
}

.rotate-vertical {
    transform: scaleY(-1); /* Keep this if you still want to flip vertically */
}