/* Game Canvas */
#gameCanvas {
    width: 1240px;
    height: 824px;
    border: 40px solid black;
    position: relative;
    overflow: hidden;
    background-image:url(assets/boarder2.png);
}

/* Body */
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

/* Sprite */
.sprite {
    width: 50px;
    height: 50px;
    background-color: blue;
    position: absolute;
}

/* Barrier */
.barrier {
    position: absolute;
    background-color: black;
}

/* Collision Image */
#collisionImage {
    display: none;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

/* Win Panel */
#winPanel {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: chartreuse;
    padding: 20px;
    border: 5px solid black;
    text-align: center;
}

/* Green Win Area */
#winArea {
    position: absolute;
    background-color: green;
    opacity: 0.5; /* Semi-transparent */
    z-index: 5;
}
.enemy{
    height: 50px;
    width: 50px;
    background-color: aqua;
    margin: 0px;
}